<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">


    <link rel="stylesheet" href="/Cesium-1.76/Build/Cesium/Widgets/widgets.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">


    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="/font-5.8.55/css/materialdesignicons.css" rel="stylesheet">
    <link href="/vuetify/vuetify.min.css" rel="stylesheet">
    <script src="/axios/axios.min.js"></script>
    <script src="/vue/vue.js"></script>
    <script src="/vuetify/vuetify.js"></script>
    <script src="/Cesium-1.76/Build/Cesium/Cesium.js"></script>
    <script src="/tianditu/plugins/cesiumTdt.js"></script>

    <style type="text/css">
        html, body, #tiandituContainer {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .cesium-viewer {
            position: absolute;
        }

        [v-cloak] {
            display: none;
        }

        .details > .row {
            border-bottom: 1px dashed lightgrey;
        }

        .v-form div {
            margin: 0;
            padding: 0;
        }

        .v-form .col-md-3.col-12 {
            padding: 0 12px;
        }

        .theme--light.v-treeview * {
            color: whitesmoke !important;
        }

        .theme--light.v-application {
            background-color: transparent !important;
        }

        #app * {
            color: whitesmoke !important;
        }

        #app .v-dialog * {
            color: rgba(0, 0, 0, .87) !important;
        }

        #app .v-dialog header * {
            color: whitesmoke !important;
        }
    </style>

</head>
<body>
<div id="app" style="position:absolute; left:2px; width:250px ;z-index: 10000">
    <v-app>
        <v-row style="max-height: 36px">
            <v-dialog
                    v-model="dialog"
                    fullscreen
                    hide-overlay
                    transition="dialog-bottom-transition"
            >
                <template v-slot:activator="{ on, attrs }">
                    <h2 style="padding-left: 20px">{{title}}</h2>

                    <svg style="width:24px;height:24px;margin:5px 5px 0px 8px" viewBox="0 0 24 24" v-bind="attrs"
                         v-on="on">
                        <path fill="currentColor"
                              d="M17,14H19V17H22V19H19V22H17V19H14V17H17V14M11,16L2,9L11,2L20,9L11,16M11,18.54L12,17.75V18C12,18.71 12.12,19.39 12.35,20L11,21.07L2,14.07L3.62,12.81L11,18.54Z"/>
                    </svg>

                </template>

                <v-card>
                    <v-toolbar
                            dark
                            color="primary"
                    >
                        <v-btn
                                icon
                                dark
                                @click="dialog = false"
                        >
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                        <v-toolbar-title>数据管理</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <!--                        <v-toolbar-items>-->
                        <!--                            <v-btn-->
                        <!--                                    dark-->
                        <!--                                    text-->
                        <!--                                    @click="dialog = false"-->
                        <!--                            >-->
                        <!--                                保存-->
                        <!--                            </v-btn>-->
                        <!--                        </v-toolbar-items>-->
                    </v-toolbar>


                    <v-form style="margin-top: 20px">
                        <v-container>
                            <v-row justify="start">
                                <v-col>
                                    <v-file-input
                                            v-model="file"
                                            required
                                            show-size accept=".kml,.kmz"
                                            label="点击选择文件，文件格后缀为：.kml、.kmz"
                                    ></v-file-input>
                                </v-col>
                                <v-spacer></v-spacer>
                                <v-col>

                                    <v-btn
                                            @click="uploadFile"
                                    >
                                        上传
                                    </v-btn>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-form>


                    <v-divider></v-divider>


                    <v-form>
                        <v-container>
                            <v-btn small
                                   @click="delFile"
                            >
                                删除
                            </v-btn>

                        </v-container>
                    </v-form>


                    <v-data-table
                            v-model="file_selected"
                            dense
                            show-select
                            :items="files"
                            :headers="headers"
                            :items-per-page="5"
                    >


                    </v-data-table>

                </v-card>
            </v-dialog>
        </v-row>


        <v-main>
            <v-treeview
                    v-model="item_selected"
                    dense
                    selectable
                    :items="items"
            >

            </v-treeview>

        </v-main>


    </v-app>
</div>

<div id="cesiumContainer" style="height: 100%; width: 100%;position:absolute;top:0; left:0">

</div>


<script>
    var cesiumAsset = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIwMDhmOGU1Mi1kYTU4LTQ1ZGUtOWQxZS0yMGJiYWMyNjhhOTMiLCJpZCI6MzUyNDUsImlhdCI6MTYwMTU5MTMwMX0.Y0vt0Lnp7En8YK3HqUz8ac-JDnZyAR79qnyh4tKssdE';
    var tiandituTk = '612ae65756225e3affda8a30ac248fb6';
    // 天地图服务子域
    var subdomains = ['0', '1', '2', '3', '4', '5', '6', '7'];

    Cesium.Ion.defaultAccessToken = cesiumAsset;

    var viewer = new Cesium.Viewer('cesiumContainer', {
        animation: false,       //动画
        homeButton: false,       //home键
        geocoder: false,         //地址编码
        baseLayerPicker: false, //图层选择控件
        timeline: false,        //时间轴
        fullscreenButton: true, //全屏显示
        infoBox: true,         //点击要素之后浮窗
        sceneModePicker: false,  //投影方式  三维/二维
        navigationInstructionsInitiallyVisible: false, //导航指令
        navigationHelpButton: false,     //帮助信息
        selectionIndicator: true, // 选择
        imageryProvider: new Cesium.WebMapTileServiceImageryProvider({
            //影像底图
            url: "http://t{s}.tianditu.com/img_w/wmts?service=wmts&request=GetTile&version=1.0.0&LAYER=img&tileMatrixSet=w&TileMatrix={TileMatrix}&TileRow={TileRow}&TileCol={TileCol}&style=default&format=tiles&tk=" + tiandituTk,
            subdomains: subdomains,
            layer: "tdtImgLayer",
            style: "default",
            format: "image/jpeg",
            tileMatrixSetID: "GoogleMapsCompatible",//使用谷歌的瓦片切片方式
            show: true
        }),
        terrainProvider: Cesium.createWorldTerrain()
    });

    viewer.extend(Cesium.viewerDragDropMixin);
    viewer.dropError.addEventListener(function (dropHandler, name, error) {
        console.log(error);
        window.alert(error);
    });

    viewer.scene.screenSpaceCameraController.minimumZoomDistance = 1000;//相机的高度的最小值
    viewer.scene.screenSpaceCameraController.maximumZoomDistance = 20000000;  //相机高度的最大值
    viewer.scene.screenSpaceCameraController._minimumZoomRate = 30000; // 设置相机缩小时的速率
    viewer.scene.screenSpaceCameraController._maximumZoomRate = 5906376272000    //设置相机放大时的速率

    //天地图文字标注
    viewer.imageryLayers.addImageryProvider(new Cesium.WebMapTileServiceImageryProvider({
        url: "http://t0.tianditu.com/cva_w/wmts?service=wmts&request=GetTile&version=1.0.0&LAYER=cva&tileMatrixSet=w&TileMatrix={TileMatrix}&TileRow={TileRow}&TileCol={TileCol}&style=default.jpg&tk=" + tiandituTk,
        layer: "tdtAnnoLayer",
        style: "default",
        format: "image/jpeg",
        tileMatrixSetID: "GoogleMapsCompatible"
    }));
    viewer._cesiumWidget._creditContainer.style.display = "none";  // 隐藏cesium ion

    var options = {
        camera: viewer.scene.camera,
        canvas: viewer.scene.canvas,
        offset: new Cesium.HeadingPitchRange(Cesium.Math.toRadians(0), Cesium.Math.toRadians(-90), 0),
        //offset: new Cesium.HeadingPitchRange(0, 90, 0),
        clampToGround: true //开启贴地
    };

    //将三维球定位到中国
    viewer.camera.flyTo({
        destination: Cesium.Cartesian3.fromDegrees(103.84, 31.15, 17850000),
        orientation: {
            heading: Cesium.Math.toRadians(348.4202942851978),
            pitch: Cesium.Math.toRadians(-89.74026687972041),
            roll: Cesium.Math.toRadians(0)
        },
        complete: function callback() {
            // 定位完成之后的回调函数
        }
    });

</script>
<script src="/d3/js/KML.js"></script>
<script src="/d3/js/demo.js"></script>
</div>
</body>
</html>